.disks-table td, .disks-table th {
    text-align: center;
    vertical-align: middle; !important;
}

.disks-table span, .disks-table div {
    vertical-align: middle;
}

.field-required label:before {
    content: '*';
    font-size: 12px;
    color: red;
}

.disks-table td:nth-child(1) {
    width: 10%;
}

.disks-table td:nth-child(2) {
    width: 30%;
}

.disks-table td:nth-child(3) {
    width: 30%;
}

.disks-table td:nth-child(4) {
    width: 30%;
}