<table class="disks-table table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Название</th>
        <th>Владелец</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in t">
        <td>{{x.id}}</td>
        <td>
            <a href="disk/{{x.id}}">{{x.name}}</a>
        </td>
        <td>
            <a href="profile/{{x.owner.username}}">{{x.owner.username}}</a>
        </td>
        <td>
            <span ng-if="!x.captor">
                <span>Свободен </span>
                <span class="btn btn-success"
                  ng-click="doTakeDisk(x)">
                    Взять
                </span>
            </span>
            <span ng-if="x.captor && (current && x.captor.username == current.username)">
                <span>Взят Вами </span>
                <span class="btn btn-danger"
                      ng-click="doFreeDisk(x)">
                    Вернуть
                </span>
            </span>
            <span ng-if="x.captor && (!current || x.captor.username != current.username)">
                Взят <a href="profile/{{x.captor.username}}">{{x.captor.username}}</a>
            </span>
        </td>
    </tr>
    </tbody>
</table>