<div class="row col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
        <h3>Диск</h3>

        <form ng-submit="diskCtrl.doSubmit()">
            <div class="form-group field-required" >
                <label>
                    Название
                    <input required type="text" class="form-control" ng-model="diskCtrl.disk.name">
                </label>
            </div>

            <div class="form-group">
                <label>
                    Описание
                    <textarea class="form-control" ng-model="diskCtrl.disk.description"></textarea>
                </label>
            </div>

            <div class="form-group">
                <label>
                    Год
                    <input type="number" min="1900" max="2030" class="form-control" ng-model="diskCtrl.disk.year">
                </label>
            </div>

            <div class="alert alert-danger" ng-if="diskCtrl.error">
                {{ diskCtrl.error }}
            </div>

            <button
                    type="submit" class="btn btn-primary">
                <span>{{diskCtrl.caption}}</span>
            </button>
        </form>
    </div>
</div>