<div class="jumbotron">
    <label>
        Показывать только свободные диски
        <input type="checkbox" ng-model="diskListCtrl.freeFilter" ng-change="diskListCtrl.filterChanged()">
    </label>
    <row src="diskListCtrl.diskList" user="account.user"></row>
    <div class="btn btn-primary"
         ng-if="diskListCtrl.count <= diskListCtrl.diskList.length"
         ng-click="diskListCtrl.loadMore()">
        Загрузить ещё...
    </div>

</div>