<div class="row col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
        <h3>Вход</h3>

        <form ng-submit="loginCtrl.doLogin()">
            <div class="form-group field-required">
                <label>
                    Имя пользователя
                    <input required type="text" class="form-control" ng-model="loginCtrl.loginData.username">
                </label>
            </div>

            <div class="form-group field-required">
                <label>
                    Пароль
                    <input required type="password" class="form-control" ng-model="loginCtrl.loginData.password">
                </label>
            </div>


            <div class="alert alert-danger" ng-if="loginCtrl.error">
                {{ loginCtrl.error }}
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
    </div>
</div>
