<div class="jumbotron">
    <h3>{{profileCtrl.username}}</h3>

    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="disksType" value="owned"
                       ng-model="profileCtrl.disksType"
                       data-ng-change="profileCtrl.diskTypeChanged()">
                Принадлежащие диски
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="disksType" value="taken"
                       ng-model="profileCtrl.disksType"
                       data-ng-change="profileCtrl.diskTypeChanged()">
                Взятые диски
            </label>
        </div>
    </div>

    <row src="profileCtrl.diskList" user="account.user"></row>
</div>