<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/dvdex/">

    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/dist/css/bootstrap.css">
    <link rel="stylesheet" href="resources/app.css">

    <script src="webjars/jquery/3.2.1/dist/jquery.js"></script>
    <script src="webjars/angularjs/1.6.1/angular.js"></script>
    <script src="webjars/angularjs/1.6.1/angular-route.js"></script>
    <script src="webjars/angularjs/1.6.1/angular-cookies.js"></script>

    <script src="resources/services/personService.js"></script>
    <script src="resources/controllers/ProfileController.js"></script>
    <script src="resources/directives/diskTableDirective.js"></script>
    <script src="resources/controllers/DiskControllers.js"></script>
    <script src="resources/services/diskService.js"></script>
    <script src="resources/controllers/AccountController.js"></script>
    <script src="resources/services/authService.js"></script>
    <script src="resources/app.js"></script>
</head>

<body ng-app="dvdApp" ng-controller="AccountController as account">
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href=" " class="navbar-brand">
                DVD ex.
            </a>
        </div>
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a href=" ">Список дисков</a>
            </li>
            <li ng-if="account.loggedIn">
                <a href="disk/new">Добавить диск</a>
            </li>
            <li ng-if="account.loggedIn">
                <a href="profile/{{account.user.username}}">Мой профиль</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-if="!account.loggedIn">
                <a href="login">Вход</a>
            </li>
            <li ng-if="!account.loggedIn">
                <a href="signup">Регистрация</a>
            </li>
            <li ng-if="account.loggedIn" class="navbar-text">
                <span>{{ account.user.username }}</span>
            </li>
            <li ng-if="account.loggedIn" ng-click="account.doLogout()">
                <a href="login">Выход</a>
            </li>
        </ul>
    </div>
</div>

<main>
    <div id="content-views" class="container">
        <div ng-view></div>
    </div>
</main>